mat-grid-list {
  margin-left: -10px;
}

input {
  background-color: hsl(189, 41%, 97%);
  border: 3px solid hsl(189, 41%, 97%);
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  height: 42px;
  width: 91%;
  &:hover {
    border: 3px solid hsl(172, 67%, 45%);
    cursor: pointer;
  }
}

.number-button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "Space Mono";
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  width: 95%;
  &:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }
}
