<h1>SPLI<br />TTER</h1>
<mat-grid-list class="calc-selector" cols={{breakpoint}} rowHeight="500px" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <div>
      <p>Bill</p><span id="billError" class="errorTextHidden">Can't be zero</span>
      <mat-form-field appearance="fill" id="bill">
        <span matPrefix><img src="assets/icon-dollar.svg" alt="dollar-sign"></span>
        <input type="number" matInput placeholder="0" min="0" (input)="onInputBill($event)">
      </mat-form-field>
      <p>Select Tip %</p>
      <button-block (selectTipEvent)="calculateTip($event)"></button-block>
      <p>Number of People</p><span id="peopleError" class="errorTextHidden">Can't be zero</span>
      <mat-form-field appearance="fill" id="people">
        <span matPrefix><img src="assets/icon-person.svg" alt="person-sign"></span>
        <input class="people" type="number" matInput placeholder="0" min="0" step="1" (input)="onInputPeople($event)">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="calc-result">
      <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile>
          <calc-result class="result-size" header="Tip Amount" text="/ person" result={{tipPerPerson}}></calc-result>
        </mat-grid-tile>
        <mat-grid-tile>
          <calc-result class="result-size" header="Total" text="/ person" result={{totalPerPerson}}></calc-result>
        </mat-grid-tile>
        <mat-grid-tile>
          <button class="reset-button" mat-flat-button (click)="onReset($event)">RESET</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
